html
  overflow: auto

.text-decoration-none
  text-decoration: none
.button
  display: flex !important
  justify-content: flex-end !important
.switch-control
  display: flex !important
  justify-content: flex-end !important